<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- 구글 검색 노출 문구 -->
<meta name="PaperingGO" content="도배GO">
<meta name="keywords" content="도배GO, SEVENFINTEH, 홈, 도배, 도배시공, 인테리어, 로보어드바이저, 인공지능, 핀테크">
<meta name="description" content="세븐핀테크">
<meta name="title" content="세븐핀테크">
<meta name="publisher" content="세븐핀테크">
<meta name="author" content="">


<!-- 카카오톡,페이스북 링크 썸네일 보내는 부분 -->
<meta content="도배GO" property="og:title">
<meta content="도배GO" property="og:description">
<meta content="도배GO" property="og:site_name">
<meta content="smartpapering" property="og:author">
<meta content="website" property="og:type">
<meta name="keywords" content="도배GO, SEVENFINTEH, 홈, 도배, 도배시공, 인테리어, 로보어드바이저, 인공지능, 핀테크">
<meta content="http://smartpapering.com/" property="og:url">
<meta content="/images/thumb.jpg" property="og:image">
<meta content="도배GO" property="og:image:alt">

<!-- 트위터 링크 썸네일 보내는 부분 -->
<meta content="summary" name="twitter:card">
<meta content="도배GO" name="twitter:title">
<meta content="도배GO" name="twitter:description">
<meta name="keywords" content="도배GO, SEVENFINTEH, 홈, 도배, 도배시공, 인테리어, 로보어드바이저, 인공지능, 핀테크">
<meta content="http://smartpapering.com/" name="twitter:url">
<meta content="/images/thumb.jpg" name="twitter:image">

<!-- 사파리에서 번호는 자동으로 바로걸기 링크 걸리는 현상 제거 -->
<meta name="format-detection" content="telephone=no" />