<div class="top">
    <div class="header-con">
        <h1 class="seven-logo"><a href="./index"><span class="hid">도배GO</span></a></h1>
    </div>
    <div class="mobiletop">
        <div class="mobiletop-con">
            <h1 class="seven-logo"><a href="./index"><span class="hid">도배GO</span></a></h1>
            <div class="menu-btn"></div>
        </div>
    </div>
</div>