<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 메타태그 -->
    <%- include ("./common/metatag") %> 
    <!-- CSS -->
    <link rel="stylesheet" href="../../css/vendor/fullpage.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/ko/style.css">
    <link rel="stylesheet" href="../../css/main.css">
    

    <!-- JS -->
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../../js/vendor/jquery.easing.1.3.js"></script>
    <script src="../../js/vendor/fullpage.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../js/main.js"></script>

    <title>스마트페이퍼링 : 간편한 도배공사 플랫폼</title>
</head>
<body>
    <div class="wrap main">
        <%- include ('./common/top') %>
        <div class="fullpage-wrapper" id="fullpage">
            <div class="section" id="firstPage">
                
                <ul class="pagination">
                    <li data-menuanchor="thirdPage"><a href="#thirdPage"></a></li>
                    <li data-menuanchor="secondPage"><a href="#secondPage"></a></li>
                </ul>
            </div>
            <div class="section" id="secondPage">
                <ul class="pagination second-pagination">
                    <li data-menuanchor="thirdPage"><a href="#thirdPage"></a></li>
                    <li data-menuanchor="secondPage" class="on"><a href="#secondPage"></a></li>
                </ul>
            </div>
            <div class="section thirdPage" id="thirdPage">
                <ul class="pagination">
                    <li data-menuanchor="thirdPage" class="on"><a href="#thirdPage"></a></li>
                    <li data-menuanchor="secondPage" class="on"><a href="#secondPage"></a></li>
                </ul>
            </div>
            <div class="section" id="fourthPage">
                <div class="section-wrap-main">
                    <h3 class="location-title">
                        <span class="tit-big">Location</span>
                        <span class="tit-small">서울특별시 영등포구 국제금융로 10, <br>17F(여의도동, 서울국제금융센터 Two IFC 빌딩)</span>
                    </h3>
                    <div class="map" id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.2781109670705!2d126.92309581564719!3d37.524940934266155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9f3c6feb907f%3A0x33f636f3e1d4d96!2z7ISc7Jq46rWt7KCc6riI7Jy17IS87YSw!5e0!3m2!1sko!2skr!4v1606868964283!5m2!1sko!2skr"
                            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <%- include ('./common/footer') %>
            
        </div>
    </div>
</body>
</html>