/* 메인페이지 - fullpage 영역 */

.thirdPage {
    background-color: #4e4d60;
}


/* pagination */

.pagination {
    position: absolute;
    bottom: 44px;
    left: 50%;
    margin-left: -14.55px;
    z-index: 9;
}

.pagination li {
    width: 29.1px;
    height: 30px;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../images/a_down.png");
    opacity: 0.3;
}

.pagination li.on {
    opacity: 1;
}

.pagination a {
    display: block;
    width: 100%;
    height: 100%;
}


/* 메인페이지 - slick slider 영역 */

.slick-slider {
    width: 100%;
}

.slick-slide {
    height: 100vh;
    position: relative;
    overflow: hidden;
}


/* 메인페이지 슬라이드 애니메이션 영역 */

.page_overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.page_overlay.is_show {
    z-index: 120;
}

.page_overlay.is_hide {
    z-index: 120;
}

.page_overlay.is_show .bx_animate {
    transition: transform .3s ease-in-out;
    transform: translateX(0);
    -ms-transform: translateX(0);
}

.page_overlay.is_hide .bx_animate {
    transition: transform .3s ease-in-out 0.3s;
    transform: translateX(101%);
    -ms-transform: translateX(101%);
}

.bx_animate {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4e4d60;
    transform: translateX(-101%);
}

.page_dimmed {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .5;
    width: 100%;
    height: 100%;
    background-color: #4e4d60;
    pointer-events: none;
}

.page_dimmed.is_show {
    z-index: 100;
}

.page_dimmed.is_hide {
    opacity: 0;
    transition: all 1.5s ease;
}

.slick-slider .is_active .slide-bg {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
}

.slick-slider .is_reset .slide-bg {
    transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
}

.slick-slider :first-child .slide-bg {
    transition-delay: 0.85s;
}


/* 메인페이지 슬라이드 이미지 배경 */

.slide-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(1.25, 1.25);
    transition: transform 2s ease .25s;
}

.slick-slide:first-child .slide-bg {
    background-image: url("../../images/main_01.jpg");
}

.slick-slide:nth-child(2) .slide-bg {
    background-image: url("../../images/main_02.jpg");
}

.slick-slide:nth-child(3) .slide-bg {
    background-image: url("../../images/main_03.jpg");
}


/* 메인슬라이더 콘텐츠 영역 */

.slide-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-text.is_show .con-text,
.slide-text.is_show .con-logo {
    padding-top: 0;
}

.slide-text .con-txt {
    overflow: hidden;
    height: 108px;
    line-height: 1.2;
    font-size: 45px;
    letter-spacing: -0.45px;
    text-align: center;
    color: #f5f5f5;
    font-weight: 300;
}

.slide-text .con-text {
    padding-top: 108px;
    transition: all 0.85s cubic-bezier(0.21, 0.86, 0.33, 0.93) 1s;
}

.slide-text .slide-logo {
    display: block;
    height: 195px;
    overflow: hidden;
}

.slide-text .con-logo {
    display: block;
    padding-top: 195px;
    transition: all 0.85s cubic-bezier(0.21, 0.86, 0.33, 0.93) 1s;
}

.slide-line {
    display: block;
    height: 30px;
    width: 2px;
    overflow: hidden;
    background-color: #f5f5f5;
    margin: 20px auto 0;
}

.logo2 {
    width: 94px;
    height: 121px;
    background: url("../../images/script-logo.png") no-repeat center center;
    background-size: contain;
    margin: 20px auto 0;
}


/* 메인페이지 section 영역 공통 */

.section-wrap-main {
    width: 1046px;
    margin: 0 auto;
}

.second-section-wrap-main{
    width: 70%;
    margin: 0 auto;
}

.section-title {
    color: #4e4d60;
    margin: 0 auto;
}

.secondPage-tit{
    display: flex;
    flex-direction: column;
    color: #4e4d60;
    margin: 0 auto;
    text-align: center;
}

.section-title span {
    vertical-align: middle;
}

.tit-big {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: -0.45px;
    margin-right: 25px;
}

.second-tit-big{
    font-size: 40px;
}

.section-title .tit-big:after {
    display: inline-block;
    content: '';
    width: 55px;
    height: 1px;
    background-color: #4e4d60;
    margin-left: 25px;
    vertical-align: 15px;
}

.section-title.white {
    color: #ffffff;
}

.section-title.white .tit-big:after {
    background-color: #ffffff;
}

.second-tit-small{
    margin-top: 30px;
    font-size:  18px;
}

.tit-small {
    font-size: 20px;
    letter-spacing: -0.2px;
    font-weight: normal;
}


/* 메인페이지 product 부분 */

.product-box {
    margin-top: 115px;
}

.product-tab {
    display: none;
    width: 50%;
    margin: 35px auto 0;
}

.product-tab li {
    float: left;
    width: 50%;
    height: 36px;
    background-color: #e8e8e8;
}

.product-tab a {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.12px;
    color: #848484;
    line-height: 36px;
    text-align: center;
}

.product-tab li.on {
    background-color: #4e4d60;
}

.product-tab .on a {
    color: #ffffff;
}

.product-tab:after {
    clear: both;
    display: block;
    content: '';
}

.product-left {
    float: left;
}

.product-right {
    float: right;
}

.product-tabBox {
    width: 50%;
    margin: 42px auto 0;
}

.product-tabCon {
    width: 100%;
    display: none;
}

.product-con {
    width: 499px;
    padding-top: 20px;
}

.product-con:after {
    clear: both;
    display: block;
    content: '';
}

.product-tit {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #4e4d60;
    margin-bottom: 23px;
}

.product-con {
    border-top: solid 1px #4e4d60;
}

.product-right .product-con:last-of-type {
    margin-top: 40px;
}

.product-logo {
    float: left;
    width: 220px;
    margin-right: 21px;
}

.logo-img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.walfa-logo {
    height: 21.4px;
    background-image: url("../../images/wlfa_ci.png");
}

.thehan-logo {
    height: 25px;
    background-image: url("../../images/thehan_ci.png");
}

.globalthehan-logo {
    height: 56px;
    background-image: url("../../images/global_ci.png");
}

.logo-txt {
    font-size: 16.2px;
    font-weight: 300;
    letter-spacing: -0.17px;
    color: #4e4d60;
    margin-top: 15px;
    text-align: center;
}

.product-info {
    float: right;
}

.product-txt {
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #4e4d60;
}

.product-btn {
    display: block;
    margin-top: 31px;
    width: 239px;
    height: 50px;
    border: solid 1px #4e4d60;
    box-sizing: border-box;
    text-align: center;
    line-height: 48px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: -0.17px;
    color: #4e4d60;
}

.product-btn:hover {
    background-color: #4e4d60;
    color: #ffffff;
}


/* 두번째 페이지 */



.second_fixed{
    background-image: url('/images/corporate/fixed_bg.png');
    width: 100%;
    height: 85%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    opacity: 0.5;
    top : 10%;
    left: 29%;
    background-size: contain;
}


.product-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.product-content-mb{
    display: none;
}

.product-content > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.product-content > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.product-content > div > div > img{
    width: 65%;
    height: 76%;
}

.product-content > div > div > span{
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 800;
    color: #4e4d60;
}


/* technology */

.technology-grid {
    width: 1024px;
    margin: 90px auto 0;
}

.technology-con {
    width: 314px;
    float: left;
    margin-right: -77px;
}

.technology-icon {
    width: 100%;
    height: 314px;
    background-color: #2b2b3c;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.7;
    border-radius: 100%;
    position: relative;
}

.technology-icon.con-white {
    background-color: #d8d8d8;
}

.icon-img {
    width: 84px;
    height: 84px;
    position: absolute;
    left: 50%;
    top: 122px;
    margin-left: -42px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-img1 {
    background-image: url("../../images/profit.png");
}

.icon-img2 {
    background-image: url("../../images/analysis.png");
}

.icon-img3 {
    background-image: url("../../images/algorithm.png");
}

.icon-img4 {
    background-image: url("../../images/firewall.png");
}

.technology-con p {
    margin-top: 38px;
    text-align: center;
    font-size: 20px;
    letter-spacing: -0.2px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
}


/* location */

.location-title br {
    display: none;
}

.location-title span {
    text-align: center;
    display: block;
}

.location-title .tit-big {
    margin-right: 0;
    color:  #4e4d60;
}

.location-title .tit-small {
    margin-top: 25px;
    color: #4e4d60;
}

.location-title .tit-small:after {
    display: block;
    content: '';
    width: 1px;
    height: 90px;
    background-color: #4e4d60;
    position: absolute;
    left: 50%;
    margin-left: -0.5px;
    top: auto;
    margin-top: 20px;
}

.map {
    width: 1024px;
    height: 334px;
    background-color: #4e4d60;
    margin-top: 128px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media all and (max-width : 1601px){
    .second-section-wrap-main{
        width: 75%;
    }

    .product-content > div > div > span{
        font-size: 1.1rem;
    }
    .product-box{
        margin-top: 90px;
    }
}

@media all and (max-width: 1310px) {
    /* height */
    ::-webkit-scrollbar {
        height: 8px;
        width: 4px;
    }

    .product-content{
        display: none;
    }

    /* 두번쨰 페이지 모바일 */
    .second_fixed{
        width: 460px;
        height: 100%;
        top: 17%;
        left: -35px;
    }

    .product-box{
        margin-top: 50px;
    }

    .product-content-mb{
        display: flex;
        flex-direction: column;
        color: #4e4d60;
    }

    .product-content-mb > ol {
        font-weight: 500;
        font-size: 1.1rem;
        color: #4e4d60;
        text-align: center;
    }

    .product-content-mb > ol > li:not(:first-child){
        margin-top: 30px;
    }

    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #4e4d60;
        border-radius: 4px;
    }
    .section-wrap-main {
        width: 90%;
        margin: 0 auto;
    }
    
    .product-tab {
        display: block;
    }
    .product-tabCon.on {
        display: block;
        height: 260px;
    }
    /* products */
    .section-title {
        text-align: center;
    }
    .tit-big {
        font-size: 25px;
    }
    .section-title .tit-big:after {
        width: 28px;
        background-color: #4e4d60;
        margin-left: 10px;
        vertical-align: 8px;
    }
    .tit-small {
        display: block;
        font-size: 14px;
        margin-top: 16px;
        line-height: 1.4;
        font-weight: 500;
    }
    .product-con {
        width: 100%;
    }
    .product-con:first-child {
        border: none;
        padding: 0;
    }
    .product-tabCon2 .product-con:last-of-type {
        margin-top: 40px;
    }
    .product-logo {
        width: 146px;
        margin-right: 16px;
    }
    .product-txt {
        font-size: 13px;
        letter-spacing: -0.13px;
    }
    .product-btn {
        height: 36px;
        line-height: 36px;
        font-size: 15px;
        letter-spacing: -0.15px;
    }
    .logo-txt {
        font-size: 10.8px;
    }
    /* thechnology */
    .technology-grid {
        width: 490px;
        margin: 60px auto 0;
    }
    .technology-con {
        clear: both;
        width: 100%;
    }
    .technology-icon {
        width: 102px;
        height: 102px;
        float: left;
        margin-top: -10px;
    }
    .icon-img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 30.5px;
        margin-left: -20px;
    }
    .technology-con p {
        float: left;
        margin-top: 19px;
        margin-left: 50px;
    }
    .technology-con p br {
        display: none;
    }
    /* location */
    .map {
        width: 100%;
        height: 312px;
        margin-top: 80px;
    }
    .location-title .tit-small {
        font-size: 17px;
    }
    .location-title br {
        display: block;
    }
    .location-title .tit-small:after {
        height: 100px;
    }
}

@media all and (max-width: 1300px) {
    .product-content-mb > ol{
        font-size: 35px;
    }
    .product-box{
        margin-top: 80px;
    }
    .tit-small{
        font-size: 29px;
        margin-top: 30px;
    }

    .tit-big{
        font-size: 45px;
    }
    .second_fixed{
        left: 9%;
        top : 18%;
        width: 900px;
    }

    .product-btn {
        width: 180px
    }
    .section-title .tit-big:after{
        display: none;
    }
    .product-btn {
        width: 200px
    }
    
}



@media all and (max-width: 786px) {
    .product-content-mb > ol{
        font-size: 28px;
    }

    .tit-small{
        font-size: 22px;
    }

    .tit-big{
        font-size: 35px;
    }

    .second_fixed{
        left: 5%;
        top: 16%;
        width: 700px;
    }

    .product-btn {
        width: 170px
    }
    .product-tab {
        width: 80%;
    }
    .product-tabBox {
        width: 80%;
    }
    .product-box{
        margin-top: 40px;
    }
    /* pagination */
    .pagination {
        bottom: 60px !important;
    }
    .pagination li {
        width: 20px;
        height: 20px;
        margin-top: -7px;
    }
    /* slide area */
    .slide-text .con-txt {
        font-size: 25px;
        letter-spacing: -0.25px;
        height: 71px;
    }
    .slide-text .con-text {
        padding-top: 71px;
    }
    .slide-text .slide-logo {
        height: 160px;
    }
    .slide-text .con-logo {
        padding-top: 160px;
    }
    .logo2 {
        width: 70px;
        height: 90px;
    }
    /* products */
    .product-tab {
        width: 90%;
    }
    .product-tabBox {
        width: 90%;
    }
    .product-btn {
        width: 169px
    }
    .product-tabCon2 .product-con:last-of-type {
        margin-top: 20px;
    }
}


@media all and (max-width: 550px) {
    .technology-grid {
        width: 319px;
        margin: 60px auto 0;
    }
    .technology-con:nth-child(2n-1) p br {
        display: block;
    }
    .technology-con:nth-child(2n) p {
        margin-top: 32px;
    }
    .technology-con p {
        font-size: 15px;
        text-align: left;
        margin-left: 24px;
    }
}

@media all and (max-width: 500px) {
    /* products */
    .product-tab {
        width: 100%;
    }
    .product-tabBox {
        width: 100%;
    }

    .second-pagination{
        bottom: 110px !important;
    }

    .product-content-mb > ol{
        font-size: 17px;
    }

    .second-tit-small{
        font-size: 13px !important;
        word-break: keep-all;
        width: 250px;
    }
    .tit-small{
        font-size: 15px;
    }

    .tit-big{
        font-size: 22px;
    }

    .second-tit-big{
        font-size: 22px;
        margin-right: 0;
    }

    .second_fixed{
        width: 550px;
        left: -13%;
        top: 17%;
    }
    /* 두번째 페이지 */
    .second_fixed{
        display: none;
    }
    #secondPage{
        background-image: url('/images/phone/ipone2.png');
        background-size: 300px 570px;
        background-repeat: no-repeat;
        background-position: 50% 70%;
    }
    .secondPage-tit{
        align-items: center;
    }
    
}

@media all and (max-width: 375px) {
    .second-pagination{
        bottom: 90px !important;
    }
    .second_fixed{
        width: 500px;
        left: -15%;
        top: 13%;
    }
    .tit-big{
        font-size: 20px;
    }
    .product-txt {
        font-size: 12px;
        letter-spacing: -0.13px;
    }
    .product-btn {
        width: 150px;
        margin-top: 15px;
    }
    .product-logo {
        width: 120px;
        margin-right: 0;
    }

    #secondPage{
        background-size: 280px 530px;
    }

    .location-title > .tit-big{
        font-size: 27px;
    }
}

@media all and (max-width: 375px) and (min-height: 800px){
    #secondPage{
        background-size: 290px 630px;
    }

    .second-pagination{
        bottom: 120px !important;
    }
}

@media all and (max-width: 366px) {
    .technology-grid {
        width: 306px;
        margin: 60px auto 0;
    }
    .technology-con:nth-child(2n-1) p br {
        display: block;
    }
    .technology-con:nth-child(2n) p {
        margin-top: 13px;
    }
    .technology-con p {
        font-size: 14px;
        text-align: left;
        margin-left: 24px;
        margin-top: 17px;
    }
}

@media all and (max-width: 330px) {
    /* section */
    .tit-big {
        font-size: 18px;
    }

    .tit-small{
        font-size: 12px;
    }

    .product-content-mb > ol{
        font-size: 15px;
    }

    .technology-con p{
        font-size: 13px;
    }
    /* thechnology */
    .technology-grid {
        width: 100%;
        margin: 30px auto 0;
    }
    .technology-icon {
        width: 70px;
        height: 70px;
    }
    .technology-con p {
        font-size: 12px;
        margin-left: 18px;
        margin-top: 8px;
    }
    .icon-img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
    }
    /* location */
    .location-title .tit-small {
        font-size: 15px;
    }
    .location-title .tit-small:after {
        height: 80px;
    }
    .map {
        height: 260px;
        margin-top: 60px;
    }

    #secondPage{
        background-size: 250px 500px;
    }

    .second-tit-small{
        font-size: 12px!important;
    }
}