<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="서비스이용약관">

    <link rel="stylesheet" href="../../css/terms/terms.css">
    <title>서비스이용약관</title>


</head>

<body>
    <div class="agreement-bg">
    <div class="agreement">
        <div class="agreement-close"></div>
        <div class="agreement-wrap">
            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">이용약관</p>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">[제1장 총칙]</p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제1조(목적)</p>
                    <p class="text-dark">본 약관은 주식회사 세븐핀테크 (이하 “회사”라고 합니다)가 제공하는 인터넷 기반의 모바일 애플리케이션 "도배GO" 관련 서비스의 이용과 관련하여 회원과 “회사” 간에 필요한 사항을 규정함을 목적으로 합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제2조(정의)</p>
                    <p class="text-dark">이 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다. </p>
                    <p class="text-dark small">1. “서비스”란 구현되는 단말기(PC, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 회원이 이용할 수 있는 모바일 어플리케이션 "도배GO" 서비스 및 이와 관련된 제반 서비스를 의미합니다.</p>
                    <p class="text-dark small">2. “이용자”라 함은 회사가 제공하는 서비스를 이용하는 자(회원, 비회원 포함)를 의미합니다.</p>
                    <p class="text-dark small">3. “회원”이란 “서비스”에 접속하여 이 약관에 따라 “회사”와 이용계약을 체결하고, “회사”가 제공하는 “서비스”를 이용하는 고객을 말합니다.</p>
                    <p class="text-dark small">4. “이용계약”이라 함은 회사가 제공하는 서비스를 이용하기 위하여 회원가입을 통해 회사와 회원 간에 체결하는 계약을 말합니다. </p>
                </div>
            </div>


            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제3조(약관의 효력과 변경)</p>
                    <p class="text-dark small">① 본 약관의 내용은 회사가 홈페이지 및 서비스 화면에 이를 공시하거나 전자우편 등의 방법으로 회원에게 공지하고, 회원이 이에 동의함으로써 효력이 발생합니다.</p>
                    <p class="text-dark small">② 회사는 회사가 필요하다고 인정하는 경우 [전자상거래 등에서의 소비자보호에 관한 법률], [약관의 규제에 관한 법률], [게임산업진흥에 관한 법률], [정보통신망 이용촉진 및 정보보호 등에 관한 법률], [콘텐츠산업 진흥법] 등 관련 법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</p>
                    <p class="text-dark small">③ 본 약관에 명시되지 않은 사항에 대해서는 [전기통신기본법], [전기통신사업법], [정보통신망이용촉진 및 정보보호 등에 관한 법률] 및 기타 관련 법령의 규정에 따릅니다.</p>
                    <p class="text-dark small">④ 회사는 약관이 변경되는 경우에는 적용일자 및 변경사유를 명시하여 현행약관과 함께 홈페이지 초기화면에 그 적용일자로부터 최소한 10일(회원에게 불리하거나 중대한 사항의 변경은 30일) 이전부터 적용일 후 상당한 기간 동안 공지하고, 기존 회원에게 변경될 약관, 적용일자 및 변경사유(변경될 내용 중 중요사항에 대한 설명 포함)를 회원이 입력한 최근의 전자우편주소로 발송합니다. </p>
                    <p class="text-dark small">⑤ 회원은 개정되는 약관의 전체 또는 일부 내용에 동의하지 않을 권리가 있습니다. 본 약관의 변경에 대하여 이의가 있는 회원은 회원탈퇴를 통해 이용계약을 해지할 수 있습니다. 다만, 이용계약이 해지되면 로그인 후 제공되는 서비스를 이용할 수 없게 됩니다.</p>
                    <p class="text-dark small">⑥ 회원이 개정된 약관의 적용일자로부터 10일(회원에게 불리하거나 중대한 사항의 변경인 경우에는 30일) 내에 변경된 약관의 적용에 대해 거절의 의사를 표시하지 않았을 때에는 약관의 변경에 동의한 것으로 간주 합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제4조(약관의 해석)</p>
                    <p class="text-dark">이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 회사의 기본이용약관 또는 개별약관에 정함이 있는 경우에는 그에 따르고, 회사의 기본이용약관 또는 개별약관에 정함이 없는 경우에는 약관의 규제에 관한 법률 등 관련 법령이나 상관례에 따릅니다. </p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제5조(회원에 대한 통지)</p>
                    <p class="text-dark small">① 회사가 회원에 대한 통지를 하는 경우, 회사는 회원에게 SMS, E-mail, 팩스, 휴대전화, 일반전화, 우편 등의 방법으로 할 수 있습니다.</p>
                    <p class="text-dark small">② 회원 전체에 대한 통지의 경우에는 회사는 7일 이상 사이트에 이를 게시함으로써 제1항의 개별통지에 갈음할 수 있습니다. </p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제6조(개인정보의 보호)</p>
                    <p class="text-dark small">① 회사는 회원의 정보를 수집함에 있어 서비스 제공에 필요한 최소한의 정보만을 수집합니다.</p>
                    <p class="text-dark small">② 회사는 회원의 동의 없이 회원이 제공한 개인정보를 이 약관에서 정한 목적 외의 다른 목적으로 사용하거나 제3자에게 제공할 수 없습니다.</p>
                    <p class="text-dark small">③ 회사는 관련 법령이 정하는 바에 따라서 회원의 개인정보를 보호하기 위한 정책을 수립하고 개인정보보호책임자를 지정하여 이를 게시합니다.</p>
                    <p class="text-dark small">④ 회원의 개인정보보호에 관해서는 관련 법령 및 회사가 정하는 개인정보취급방침에서 정한 바에 따릅니다. </p>

                </div>
            </div>

            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">[제2장 이용계약]</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제7조(이용신청 및 이용계약의 성립)</p>
                    <p class="text-dark small">① 이용자가 서비스 이용을 원할 경우 회사가 정한 양식의 이용신청서를 작성하여 제출하거나 애플리케이션 및 홈페이지에 있는 가입 양식이나 방식에 따라 회원 정보를 기입 및 제공한 후 이 약관에 동의한다는 의사표시를 하는 방법으로 서비스 이용을 신청합니다. 다만, 이용자의 이용신청과 관련하여 회사가 필요한 서류를 요구하는 경우에는 이용자가 해당 서류를 제출하여야 합니다.</p>
                    <p class="text-dark small">② 적법하게 이루어진 이용신청에 대해 회사가 승낙함으로써 이용자와 회사 간 이용계약이 성립합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제8조(이용신청에 대한 승낙 거부)</p>
                    <p class="text-dark">① 회사는 다음 각 호 중 어느 하나에 해당되는 사유가 있는 경우 이용신청을 승낙하지 않을 수 있습니다. </p>
                    <p class="text-dark small">1. 주민등록표상의 성명과 다른 성명으로 이용신청을 한 경우.</p>
                    <p class="text-dark small">2. 두 개의 아이디를 사용하여 이용신청을 한 경우.</p>
                    <p class="text-dark small">3. 주민등록표상 만 14세 이하의 자가 이용신청을 한 경우.</p>
                    <p class="text-dark small">4. 이용신청에 필요한 개인 정보를 허위로 기재하였거나 허위 서류를 첨부하여 이용신청을 한 경우.</p>
                    <p class="text-dark small">5. 회사가 제공하는 정보를 상업적 목적에 이용하거나 다른 회원의 이익을 해할 목적으로 이용신청을 한 경우.</p>
                    <p class="text-dark small">6. 이전에 이용계약을 해지당하거나 해지한 적이 있는 경우.</p>
                    <p class="text-dark small">7. 회사의 설비 용량 및 기술상의 문제 등으로 인해 서비스 제공이 어렵다고 회사가 판단하는 경우. </p>

                    <p class="text-dark">② 회사는 제1항에 따라 이용신청에 대한 승낙을 거부하는 경우 이를 이용신청자에게 알려야 합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제9조(회원의 고지 의무)</p>
                    <p class="text-dark">회원은 제7조에 따라 이용신청시 회사에 제출한 회원의 정보가 이후 변경된 경우에는 변경된 날로부터 7일 이내에 제5조 제1항에서 정한 방법에 따라 변경된 내용을 회사에 고지하여야 합니다.</p>
                </div>
            </div>

            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">[제3장 서비스]</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제10조(권리의 귀속)</p>
                    <p class="text-dark">① “서비스”에 대한 저작권 및 지적재산권은 “회사”에 귀속됩니다.</p>
                    <p class="text-dark">② “회사”는 “서비스”와 관련하여 “회원”에게 “회사”가 정한 이용조건에 따라 “서비스”를 이용할 수 있는 이용권만을 부여하며, “회원”은 이를 양도, 판매, 담보제공 등의 처분행위를 할 수 없습니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제11조(서비스의 제공)</p>
                    <p class="text-dark">회사는 회원의 이용신청을 승인할 때부터 서비스를 제공합니다. 단, 일부 서비스의 경우 회사의 필요에 따라 지정된 일자부터 서비스를 개시할 수 있습니다. 회사는 본 서비스를 이용하는 회원에 대하여 등급을 구분하여 이용시간, 이용회수, 제공 서비스의 범위 등을 세분화하여 이용에 차등을 둘 수 있습니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제12조 (서비스의 변경)</p>
                    <p class="text-dark">회사는 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 전부 또는 일부 서비스를 변경할 수 있습니다. 서비스의 내용, 이용방법, 이용시간에 대하여 변경이 있는 경우에는 변경사유, 변경될 서비스의 내용 및 제공일자 등은 그 변경 전 7일 이상 해당 서비스 초기화면에 게시하여야 합니다. 회사는 무료로 제공하는 서비스의 일부 또는 전부를 회사의 정책 및 운영의 필요상 수정, 중단, 변경할 수 있으며, 이에 대하여 관계법령에 특별한 규정이 없는 한 회원에게 별도의 보상을 하지 않습니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제13조(서비스 제공 시간)</p>
                    <p class="text-dark">① 회사는 다음 각 호 중 어느 하나에 해당하는 사유가 발생한 경우 서비스 제공을 일시 정지할 수 있고, 이 경우 이로 인해 발생한 회원의 손해에 대해 손해 배상의 의무를 부담하지 않습니다. </p>
                    <p class="text-dark small">1. 설비 보수, 서버 정기 점검 등의 사정이 발생한 경우</p>
                    <p class="text-dark small">2. 기간통신사업자가 통신 서비스를 중지한 경우</p>
                    <p class="text-dark small">3. 정전, 설비 장애, 기타 사유로 정상적인 서비스가 불가능하게 된 경우 </p>
                    <p class="text-dark">② 회사는 제1항 제1호의 사유가 발생한 경우 사전에 제5조 제1항에서 정한 방법으로 그 사유 및 기간을 게시하여야 하고, 제4항 제2호, 제3호의 사유가 발생하거나 부득이한 사정으로 사전 통지를 하지 못한 경우에는 사후통지로 갈음할 수 있습니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제14조(회원 ID 관리)</p>
                    <p class="text-dark">회원ID와 비밀번호에 관한 모든 관리 책임은 회원에게 있습니다. 회사는 회원 ID에 의하여 제반 회원 관리 업무를 수행하므로 회원이 회원 ID를 변경하고자 하는 경우 회사가 인정할 만한 사유가 있어야만 회원 ID를 변경 할 수 있습니다. 이용 고객이 등록한 회원 ID 및 비밀번호에 의하여 발생되는 사용상의 과실 또는 제 3자에 의한 부정사용 등에 대한 모든 책임은 해당 이용 고객에게 있습니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제15조(정보의 제공)</p>
                    <p class="text-dark">회사는 회원에게 서비스 이용에 필요가 있다고 인정되는 각종 정보에 대해서 서비스 화면, 전자 우편, 소셜미디어 또는 서신우편 등의 방법으로 회원에게 제공할 수 있습니다. 회사는 서비스 개선 및 회원 대상의 서비스 소개 등의 목적으로 회원의 동의 하에 추가적인 개인정보를 요구 할 수 있습니다.</p>
                </div>
            </div>

            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">[제4장 계약 당사자의 의무]</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제16조(게시물 등의 저작권 및 관리)</p>
                    <p class="text-dark">① 회사가 작성한 문서 또는 사이트에 게시한 게시물, 회사가 제공한 정보 등에 대한 저작권 등 일체의 권리는 회사에게 귀속합니다. 회사에서 작성하여 제공하는 저작물에 대한 저작권 및 기타 지적재산권도 회사에 귀속합니다.</p>
                    <p class="text-dark">② 회사는 회원의 게시물에 다음 각 호 중 어느 하나에 해당하는 내용이 포함되어 있는 경우 별도의 통보 없이 게시물을 삭제할 수 있습니다.</p>
                    <p class="text-dark small">1. 다른 회원이나 제3자, 회사의 명예, 신용을 훼손, 비방하거나 그 업무를 방해하는 내용</p>
                    <p class="text-dark small">2. 법령에 위반되거나 공공질서 또는 미풍양속에 위반되는 내용</p>
                    <p class="text-dark small">3. 다른 회원 또는 제3자, 회사의 저작권 기타 권리를 침해하는 내용 </p>
                    <p class="text-dark small">4. 회원의 영업 등의 목적을 위해 광고, 홍보하는 내용 </p>
                    <p class="text-dark small">5. 허위의 사실 또는 허위의 사실일 가능성이 높은 내용 </p>
                    <p class="text-dark small">6. 이용계약의 목적에 반하거나 기타 회사에서 정한 규정에 위반되는 내용 </p>
                    <p class="text-dark">③ 회원은 다른 회원의 게시물에 제2항 각 호 중 어느 하나에 해당하는 내용이 포함되어 있는 경우 그 사실을 소명하여 회사에 해당 게시물 등의 삭제를 요청할 수 있고, 회사는 회원의 요청이 타당하다고 판단되는 경우 해당 게시물을 삭제할 수 있습니다.</p>
                    <p class="text-dark">④ 회원이 서비스에 게재한 게시물, 자료 등에 관한 권리와 책임은 이를 게시한 회원에게 있습니다. 회사는 해당 게시물, 자료 등을 게재한 회원의 동의 없이 이를 영리적인 목적으로 사용하지 아니합니다. 다만, 회사는 회원이 게재한 게시물, 자료 등에 대하여 서비스(회사와 업무 제휴 관계에 있는 제 3 자의 인터넷 사이트를 포함) 내에 게재할 수 있는 권리를 가집니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제17조(회원의 의무)</p>

                    <p class="text-dark">① 회원은 관련 법령, 이 약관, 회사가 정한 기타 이용조건, 회사가 서비스와 관련하여 공지 또는 통지한 사항을 준수하여야 합니다. </p>
                    <p class="text-dark">② 회원은 다음 각 호 중 어느 하나에 해당하는 행위를 하여서는 안 됩니다.</p>
                    <p class="text-dark small">1. 다른 회원의 ID를 사용하여 서비스를 부정 이용하거나 다른 회원의 정보를 도용하는 행위</p>
                    <p class="text-dark small">2. 개인정보를 허위로 기재 또는 등록하여 이용신청을 하거나 허위로 변경하는 행위</p>
                    <p class="text-dark small">3. 회사가 정한 정보 이외의 정보(컴퓨터프로그램 등)를 송신 또는 게시하거나 회사가 정한 정보를 임의로 변경하는 행위</p>
                    <p class="text-dark small">4. 회사가 작성한 저작물, 회사가 제공하는 정보 등을 가공, 판매하거나 이를 상업적 목적으로 이용하는 행위</p>
                    <p class="text-dark small">5. 회사가 작성한 문서 또는 사이트에 게시한 게시물, 회사가 제공한 정보를 회사의 사전 동의 없이 복제, 공연, 공중송신, 전시, 배포, 대여, 2차적 저작물 작성 등의 방법으로 침해하는 행위</p>
                    <p class="text-dark small">6. 회사의 서비스를 이용함으로써 얻은 정보를 회사의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하는 행위</p>
                    <p class="text-dark small">7. 서비스의 안정적 운영을 방해할 수 있는 다량의 정보를 전송하거나 수신자의 의사에 반하여 광고성 정보를 전송하는 행위</p>
                    <p class="text-dark small">8. 정보통신설비의 오작동이나 정보 등의 파괴 및 혼란을 유발시키는 컴퓨터 바이러스 감염 자료를 등록 또는 유포하는 행위</p>
                    <p class="text-dark small">9. 관련 법령에 위반되거나 외설, 욕설 또는 폭력적인 메시지 등 미풍양속이나 사회통념에 반하는 정보를 공개 또는 게시하는 행위</p>
                    <p class="text-dark small">10. 범죄행위와 관련된 정보를 공개 또는 게시하는 행위</p>
                    <p class="text-dark small">11. 기타 회사의 업무를 방해하는 일체의 행위</p>
                    <p class="text-dark">③ 회원은 이용계약에 따른 권리, 의무를 제3자에게 처분(양도, 대여, 증여, 인수 등 일체의 행위 포함)하거나 담보 등의 목적으로 제공할 수 없습니다. </p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제18조(회사의 의무)</p>

                    <p class="text-dark small">① “회사”는 관련 법령과 이 약관을 준수하며, 계속적이고 안정적으로 “서비스”를 제공하기 위하여 최선을 다하여 노력합니다.</p>
                    <p class="text-dark small">② “회사”는 “회원”이 안전하게 “서비스”를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추며, 개인정보취급방침을 공시하고 준수합니다. </p>
                    <p class="text-dark small">③ “회사”는 “서비스”이용과 관련하여 “회원”으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 하며, 전자우편 등을 통하여 “회원”에게 처리과정 및 결과를 전달할 수 있습니다.</p>
                </div>
            </div>

            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">[제5장 이용계약의 해지]</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제19조(이용계약 해지)</p>

                    <p class="text-dark">① “회원”은 언제든지 “서비스”내 정보 관리 메뉴 또는 유선접수 등을 통하여 이용계약 해지를 신청할 수 있으며, “회사”는 관련 법령이 정하는 바에 따라 이를 즉시 처리하여야 합니다.</p>
                    <p class="text-dark">② “회사”는 “회원”에게 다음과 같은 사유가 발생할 경우 이용계약을 해지할 수 있습니다. </p>
                    <p class="text-dark small">1. 본 약관을 위반한 경우</p>
                    <p class="text-dark small">2. 관계 법령을 위반한 경우</p>
                    <p class="text-dark small">3. “회사”가 제공하는 “서비스”의 원활한 진행을 방해하는 행위를 하거나 시도한 경우</p>
                    <p class="text-dark small">4. 기타 “회사”가 합리적인 판단에 기하여 “서비스”의 제공을 거부할 필요가 있다고 인정할 경우</p>
                    <p class="text-dark">③ 이용계약 해지가 완료되는 경우 관련 법령 및 개인정보 취급방침에 따라 “회사”가 보유하여야 하는 정보를 제외한 모든 “회원”의 정보가 삭제됩니다.</p>
                    <p class="text-dark">④ 전항에도 불구하고 제2항에 따라 “회사”가 이용계약을 해지하는 경우 “회사”는 “회원”의 이의신청 접수 및 처리 등을 위하여 일정 기간 동안 “회원”의 정보를 보관할 수 있으며, 해당 기간이 경과한 후에 “회원”의 정보를 삭제합니다. </p>
                </div>
            </div>

            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">[제6장 분쟁 조정 및 기타사항]</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제20조(손해배상)</p>
                    <p class="text-dark">① 회사 또는 회원은 회사 또는 회원의 귀책사유로 인해 상대방에게 발생한 손해를 배상하여야 합니다.</p>
                    <p class="text-dark">② 이용계약의 해제/해지는 손해배상의 청구에 영향을 미치지 아니합니다.</p>
                    <p class="text-dark">③ 회사의 고의 또는 과실 없이 회원에게 발생한 일체의 손해에 대하여는 책임을 지지 아니합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제21조(면책)</p>
                    <p class="text-dark">① “회사”는 천재지변, 디도스(DDOS)공격, IDC장애, 기간통신사업자의 회선 장애 또는 이에 준하는 불가항력으로 인하여 “서비스”를 제공할 수 없는 경우에는 “서비스”제공에 관한 책임이 면제됩니다. </p>
                    <p class="text-dark">② “회사”는 “회원”의 귀책사유로 인한 “서비스” 이용의 장애에 대하여는 책임을 지지 않습니다.</p>
                    <p class="text-dark">③ “회사”는 무료로 제공되는 “서비스”이용과 관련하여 관련법령에 특별한 규정이 없는 한 책임을 지지 않습니다.</p>
                    <p class="text-dark">④ “회원”이 “서비스”를 이용함에 있어 “회원” 본인이 행한 불법행위나 이 약관 위반행위로 인하여 “회사”가 해당 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 해당 “회원”은 자신의 책임과 비용으로 반드시 “회사”를 면책시켜야 합니다. </p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제22조(약관의 일부 무효)</p>
                    <p class="text-dark">약관의 일부 조항이 관련 법령에 위반되는 등의 사유로 그 법적 효력을 상실한 경우 해당 조항 외의 나머지 조항들은 여전히 유효합니다.</p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제23조(포인트)</p>
                    <p class="text-dark">① 포인트는 “회사”가 운영하는 전자화폐로서 서비스 이용 시 1p(포인트)=현금 1원의 등가로 사용이 가능합니다.</p>
                    <p class="text-dark">② 포인트는 “회사”의 정책, 이벤트 등을 통해 “회사”가 정한 절차와 방법에 따라 적립됩니다.</p>
                    <p class="text-dark">③ 포인트는 “회사”가 “회원”에게 무상지급하는 혜택으로 현금 출금할 수 없으며 “회사”에서 정한 이용방법에 따라서만 사용 가능합니다.</p>
                    <p class="text-dark">④ 부정한 방법으로 포인트를 획득한 사실이 확인될 경우 “회사”는 “회원”의 포인트 회수, 계정 삭제 및 형사 고발 등 기타 조치를 취할 수 있습니다.</p>
                    <p class="text-dark">⑤ 포인트는 “회사”에서 별도로 명시한 경우를 제외하고는 타인에게는 양도할 수 없으며 부정한 목적이나 용도로의 사용을 금지합니다. 위반 시에 “회사”는 포인트를 소멸시키거나 회원자격을 정지할 수 있습니다.</p>
                    <p class="text-dark">⑥ “회원”은 탈퇴한 경우 적립된 포인트는 소멸됩니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">제24조(준거법 및 재판관할)</p>
                    <p class="text-dark">① “회사”와 “회원”간 발생한 분쟁에 대하여는 대한민국법을 준거법으로 합니다.</p>
                    <p class="text-dark">② “회사”와 “회원”간 발생한 분쟁에 관한 소송은 회사본점 소속 법원을 관할로 합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">부칙: 이 약관은 2021년 05월 03일부터 시행되고, 이 약관의 효력 발생 전에 회사와 체결된 이용계약에 대해서도 이 약관이 적용됩니다. </p>
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>

</html>