@charset "utf-8";

/* 공통 */

.hid {
    display: none;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.privacy-bg,
.agreement-bg {
    width:100%;
    height:100%;
    z-index: 999999;
}

.privacy,
.agreement {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9999;
    text-align: left;
}

.privacy-wrap,
.agreement-wrap {
    padding: 10%;
    overflow-y: auto;
    width: 100%;
}

.agreement-close {
    width: 25px;
    height: 25px;
    background: url("/images/close.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}


/* privacy */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 17px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.p-3 {
    padding: 1rem!important;
}

.privacy p,
.agreement p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.font-weight-bold {
    font-weight: 700!important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

.text-dark {
    color: #343a40!important;
}

.small,
small {
    font-size: 80%;
    font-weight: 400;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem!important;
}

.privacy dl,
.privacy ol,
.privacy ul,
.agreement dl,
.agreement ol,
.agreement ul {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.privacy dl,
.agreement dl {
    margin-left: 20px;
}


/* marketing */

table,
.bx_type1 h2,
.bx_type1 h4,
.bx_type1 ul,
.bx_type1 li,
.bx_type1 a,
.bx_type1 p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: nanumgothic;
}

.bx_type1 h2 {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.bx_type1 h4 {
    font-size: 18px;
    color: #3a3a3a;
    padding: 20px 0;
    letter-spacing: -1px;
}

.bx_type1 ul li {
    font-size: 13px;
    color: #3f3f3f;
    line-height: 2;
    margin: 0 10px;
}

.bx_type1 p {
    font-size: 13px;
    color: #242424;
    line-height: 2;
    margin-bottom: 10px;
}

.bx_type1 {
    padding: 10%;
    overflow-y: auto;
}

.bx_type1 .bx01 {
    background: #ccc;
    padding: 10px 0;
}

@media only screen and (max-width: 991px) {
    .bx_type1 h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 16px;
    }
    .bx_type1 ul li {
        font-size: 16px;
    }
    .bx_type1 p {
        font-size: 16px;
    }
    .txt1 li {
        font-size: 16px;
    }
}

@media all and (max-width:640px) {
    .privacy,
    .agreement {
        width: 100%;
        height: 100%;
    }
    .agreement-close {
        width: 25px;
        height: 25px;
        background: url("../../images/close.png") no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
    }
}

@media all and (max-width:518px) {
    .agreement-close {
        width: 15px;
        height: 15px;
    }
}

@media all and (max-width:336px) {

}